<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div id="navbar">
      <div id="logo">
        <img src="/images/iconoweb.png" alt="logo">
        <p>GeeksHubs Travels</p>
      </div>
      <div>
        <ul class="list-inline">
          <li>Destinos</li>
          <li>Quienes somos</li>
          <li>Donde estamos</li>
        </ul>
      </div>
      <div id='redesSociales'>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
    <div id="headerContent">
      <div>
        <p>Viaja!</p>
        <p>Descubre lugares maravillosos!</p>
        <a href="#">ver destinos</a>
      </div>
    </div>
  </header>

  <div>
    {{{body}}}
  </div>

  <footer>
    footer
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>

</html>