* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}

html {
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url('../images/nathan-anderson-316188-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

#navbar {
  width: 100%;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  color: #eee;
}

#navbar div:nth-child(2) {
  font-size: 1.75em;
  font-style: italic;
}

#logo p {
  font-size: 2em;
  color: #1B1E3D;
  text-align: center;
}

#logo img {
  width: 150px;
}

.list-inline li a{
  color: #eee;
  text-decoration: none;
}

#redesSociales {
  display: flex;
  min-height: 55px;
  flex-direction: row;
}


#redesSociales a {
  text-decoration: none;
  color: #eee;
  margin: auto 5px;
  padding: 5px;
  border-radius: 50%;
  min-width: 45px;
  min-height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#redesSociales a:nth-child(1) {
  background: #359AC1;
}

#redesSociales a:nth-child(2) {
  background: #4EAC43;
}

#redesSociales a:nth-child(3) {
  background: #304B7B;
}

#redesSociales a:nth-child(4) {
  background: #4262A5;
}

#redesSociales a:nth-child(5) {
  background: #1A5A82;
}

#redesSociales a:nth-child(6) {
  background: #E72B2B;
}


#headerContent {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

#headerContent>div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

#headerContent>div>p {
  color: #eee;
}

#headerContent>div>p:nth-child(1) {
  font-size: 5em;
  line-height: auto;
  width: 100%;
  text-align: left;
  margin-left: 10px;
}

#headerContent>div>p:nth-child(2) {
  font-size: 3.5em;
  width: 100%;
}

.yellow-button {
  color: #454545;
  font-size: 2em;
  padding: 10px;
  font-style: italic;
  text-decoration: none;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: yellow;
  box-shadow: 0 5px 0 0 #ffd000;
  transition: 0.3s;
}

.yellow-button:hover {
  box-shadow: none;
  margin-top: 5px;
  color: #454545;
  transition: 0.3s;
}

/* Cuerpo */

/* Footer */
footer {
  background: #1B1F3C;
  color: #eee;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

footer>div:first-child{
  justify-content: center;
  display: flex; 
  font-size:1.7em;
  height: 450px;
  width: 100%;
  position: relative;
}

footer>div>div {
  margin: auto 50px;
  padding: 50px;
  height: 100%;
  margin-bottom: 20px;
}

footer>div:first-child:after {
  content: "";
  position: absolute;
  background:black;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
}

footer > div >div>div {
  margin: 10px;
}

footer > div> div>p:last-child{
  font-size: 15px;
}

footer > div >div:nth-child(2) > ul {
  list-style: none;
}

footer > div> div:nth-child(3) {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

footer > div> div:nth-child(3) > a {
  text-decoration: none;
  background: yellow;
  margin-top: 10px;
  font-size: 20px;
  padding: 10px;
  border-radius: 3px;
  color: #454545;
}

footer>div:last-child{
  margin: 30px;
}